# Clean Code & Modular Python for ML

## Objective
Learn and apply clean coding principles in Python by:
- Writing reusable functions
- Organizing logic into modules
- Improving readability and maintainability

## Why this matters
Machine learning code is rarely one-off:
- Experiments evolve
- Pipelines grow
- Code must be readable by others

## Clean Code Principles Applied Here
- Functions do one thing
- Clear and descriptive naming
- Avoid duplicated logic
- Prefer simple, explicit code over clever code

In [4]:
def normalize_column(df, column_name):
    """
    Normalize a numerical column using z-score normalization.
    """
    mean = df[column_name].mean()
    std = df[column_name].std()
    return (df[column_name] - mean) / std


def filter_by_age(df, min_age):
    """
    Filter rows where age is greater than min_age.
    """
    return df[df["age"] > min_age]

In [5]:
import pandas as pd

df = pd.DataFrame({
    "age": [22, 35, 58, 45, 18],
    "salary": [30000, 50000, 80000, 62000, 20000]
})

df["salary_normalized"] = normalize_column(df, "salary")

filtered_df = filter_by_age(df, min_age=30)

filtered_df

   age  salary  salary_normalized
1   35   50000           0.066277
2   58   80000           1.308963
3   45   62000           0.563351